#############################################
## отмечаем, что не нужно отправлять в GIT ##
#############################################

# игнорируем к отправлению содержимого папок #
/.idea/*
/пользовательские-данные/images/*
/компоненты-ядра/4_дела/протоколы/*

# игнорируем к отправлению файлы #
/компоненты-ядра/1_решения/настройка_системы.php
/компоненты-ядра/2_уведомления/настройка_проекта.php
/компоненты-ядра/3_ресурсы/настройка_коммуникаций.php
/компоненты-ядра/3_ресурсы/схемы/реализованная_схема_базы_данных.php
/компоненты-ядра/4_дела/настройка_протоколов.php

# всегда отправляем #
!.gitkeep
!.htaccess