#############################################
## Отмечаем, что не нужно отправлять в GIT ##
#############################################

# Игнорируем к отправлению содержимого папок #
/Компоненты ядра/4.Движение/Протоколы/Процессов/*
/Пользовательские данные/Аватарки/*
/.idea/*

# Игнорируем к отправлению файлы #
/Компоненты ядра/1.Ориентировка/Настройка системы.php
/Компоненты ядра/2.Представление/Настройка проекта.php
/Компоненты ядра/3.Аккумуляция/Настройка коммуникаций.php
/Компоненты ядра/3.Аккумуляция/Нормативы/Базы данных/Реализованный норматив таблиц базы данных.php
/Компоненты ядра/4.Движение/Настройка протоколов.php

# Всегда отправляем #
!.gitkeep
!.htaccess


# Удалить #
/Компоненты ядра/3.Аккумуляция/Нормативы/База данных/Реализованный норматив таблиц базы данных.php
/Компоненты ядра/4.Движение/Протоколы/*.log