#############################################
## Отмечаем, что не нужно отправлять в GIT ##
#############################################

# Игнорируем к отправлению содержимого папок #
/.idea/*
/Пользовательские данные/Аватарки/*
/Компоненты ядра/4.Дела/Протоколы/*.log
/Компоненты ядра/4.Интеллект/Протоколы/*.log

# Игнорируем к отправлению файлы #
/Компоненты ядра/1.Решения/Настройка системы.php
/Компоненты ядра/2.Уведомления/Настройка проекта.php
/Компоненты ядра/3.Ресурсы/Настройка коммуникаций.php
/Компоненты ядра/3.Ресурсы/Схемы/Реализованная схема таблиц базы данных.php
/Компоненты ядра/4.Дела/Настройка протоколов.php

/Компоненты ядра/1.Ориентировка/Настройка системы.php
/Компоненты ядра/2.Представления/Настройка проекта.php
/Компоненты ядра/3.Ресурсы/Настройка коммуникаций.php
/Компоненты ядра/3.Ресурсы/Схемы/Реализованная схема таблиц базы данных.php
/Компоненты ядра/4.Интеллект/Настройка протоколов.php

# Всегда отправляем #
!.gitkeep
!.htaccess